@model ProductsViewModel
 @{
    ViewData["Title"] = "Products";
 }
<h2>List of products</h2>
<a asp-action="Create" style="margin-right:100%" 
     class="btn btn-sm btn-primary">
     Create  
</a>
<table class="table">
    @foreach (var product in Model.products)
    {
        <tr>
            <td>@product.Name</td>
            <td>
                <a asp-action="Product" 
                    asp-route-id="@product.Id"
                    class="btn btn-sm btn-info">
                        Info  
                </a>
            </td>
            <td>
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="productId" value="@product.Id"/>
                    <button type="submit" class="btn btn-sm btn-danger" onclick="return del()">
                        Delete
                    </button>
                </form>
            </td>        
        </tr>
    }
</table>
@if(Model.metaData.HasPrevious)
{
    <a asp-action="Products"
        asp-route-pageNumber="@(Model.metaData.CurrentPage-1)"
        class="btn btn-primary">
            Back
    </a>
}
@if(Model.metaData.HasNext)
{
    <a asp-action="Products"
        asp-route-pageNumber="@(Model.metaData.CurrentPage+1)"
        class="btn btn-primary">
            Next
    </a>
}
<script>
    function del()
    {
        if (confirm('Delete?'))
        {
            if (confirm('Are u sure?'))
            {

            }
        }
    }
</script>
