@model ProductsViewModel
 @{
    ViewData["Title"] = "Products";
 }
<h2>List of products</h2>
<table class="table">
    @foreach (var product in Model.products)
    {
        <tr>
            <td>@product.Name</td>
            <td>
                <form asp-action="Product" asp-route-id="@product.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-info">
                        Info  
                    </button>
                </form>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@product.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>        
        </tr>
    }
</table>
@if(Model.metaData.HasPrevious)
{
    <a asp-action="Products"
        asp-route-pageNumber="@(Model.metaData.CurrentPage-1)"
        class="btn btn-primary">
            Back
    </a>
}
@if(Model.metaData.HasNext)
{
    <a asp-action="Products"
        asp-route-pageNumber="@(Model.metaData.CurrentPage+1)"
        class="btn btn-primary">
            Next
    </a>
}