@using Entities.ViewModels.Products
@model ProductsViewModel
 @{
    ViewData["Title"] = "Products";
 }
<h1>List of products</h1>
<a asp-action="Create" style="margin-right:100%" 
     class="btn btn-primary">
     Create  
</a>
<table class="table">
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.Name</td>
            <td>
                <a asp-action="Product" 
                    asp-route-id="@product.Id"
                    class="btn btn-sm btn-info">
                        Info
                </a>
            </td>
            <td>
               <button type="button" class="btn btn-danger" value="@product.Id" 
                data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="setId(this)">
                    Delete
                </button> 
            </td>
            <td>
            </td>
        </tr>
    }
</table>
<div style="margin-top:15px">
    @if(Model.MetaData.HasPrevious)
    {
        <a asp-action="Products"
            asp-route-pageNumber="@(Model.MetaData.CurrentPage-1)"
            class="btn btn-sm btn-outline-primary">
                <i class="arrow left"></i>Back
        </a>
    }
    @if(Model.MetaData.HasNext)
    {
        <a asp-action="Products"
            asp-route-pageNumber="@(Model.MetaData.CurrentPage+1)"
            class="btn btn-sm btn-outline-primary">
                Next<i class="arrow right"></i>
        </a>
    }
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <h3>Are you sure?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <form asp-action="Delete" method="post">
            <input type="hidden" id="id" name="id"/>
            <button type="submit" class="btn btn-danger">
                Yes
            </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
    function setId(button)
    {
        document.getElementById("id").value=button.value;
    }
</script>
