@using Entities.ViewModels.Fridges
@model FridgeViewModel
 @{
    ViewData["Title"] = "Fridge";
 }
 <h1>Fridge</h1>
<a asp-action="Fridges" style="margin-right:100%" 
     class="btn btn-primary">
     Fridges  
</a>
<div style="color:#007bff">
    <h3>
        <span style="color:black">
            Fridge name:
        </span> 
            @Model.Name
    </h3>
    <h3>
        <span style="color:black">
            Owner name:
        </span> 
            @Model.OwnerName
    </h3>
    <h3>
        <span style="color:black">
            Model name:
        </span> 
            @Model.Model.Name
    </h3>
    <h3>
        <span style="color:black">
            Year:
        </span> 
            @Model.Model.Year
    </h3>
</div>
<div style="margin-top:15px">
    <a asp-controller="FridgeProducts" asp-action="Products" asp-route-fridgeId="@Model.Id" 
         class="btn btn-sm btn-info">
         Products  
    </a>
    <a asp-action="Update" asp-route-id="@Model.Id" 
         class="btn btn-sm btn-primary" style="margin-left:25px">
         Change  
    </a>
</div>